<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway+Dots&display=swap" rel="stylesheet">
  <style> @import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway+Dots&display=swap'); </style>
  <title>Add Barber</title>
</head>
<body>
  <nav>
    <img src="/images/clippers.png">
    <% if (user) { %>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  
  <main>

    <h1>Barbers</h1>

    <h2>Add a new Barber here:</h2>
    <form action="/barbers" method="POST">
        <label>
            Greeting: <input type="text" name="greeting" size="50"> 
        </label>
        <br>
        <label>
            Name:<input type="text" name="name">
        </label>
        <br>
        <label>
            Phone:<input type="tel" name="phone">
        </label>
        <br>
        <label>
            Rates:<input type="text" name="rates">
        </label>
        <br>
        <label>
            Availability(Mon-Sun):<input type="text" name="avails">
        </label>
        <br>
        <label>
            Experience: Year(s)<input type="number" name="expYrs"> Months <input type="number" name="expMos">
        </label>
        <br>
        <br>
        <input type="submit" value="Add Barber">
        <br>
        <br>
        <a href="/">Home</a>
    </form>

</main>
</body>

</html>