<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Add Patron</title>
</head>

<body>
    <h1>Patrons</h1>

    <h2>Add Your Info Here:</h2>
    <form action="/patrons" method="POST">
        <br>
        <label>
            Name:<input type="text" name="name">
        </label>
        <br>
        <label>
            Phone:<input type="tel" name="phone">
        </label>
        <br>
        <label>
            Preferred Day:<input type="text" name="prefDay">
        </label>
        <br>
        <label>
            Preferred Time:<input type="time" name="PrefTime">
        </label>
       
        <br>
        <br>
        <input type="submit" value="Add Patron">
    </form>
</body>

</html>