<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Add Patron</title>
</head>
<body>
  <nav>
    <img src="/images/clippers.png">
    <% if (user) { %>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  
  <main>
    <h1>Patrons</h1>

    <h2>Add Your Info Here:</h2>
    <form action="/patrons" method="POST">
        <br>
        <label>
            Name:<input type="text" name="name">
        </label>
        <br>
        <label>
            Phone:<input type="tel" name="phone">
        </label>
        <br>
        <label>
            Preferred Day:<input type="text" name="prefDay">
        </label>
        <br>
        <label>
            Preferred Time:<input type="text" name="prefTime">
        </label>
       
        <br>
        <br>
        <input type="submit" value="Add Patron">
    </form>
    <br><br><br>
    <a href="/">Home</a>
</main>
</body>

</html>